body {
	background-color: black;
	font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
}

h1 {
	color: white;
	font-size: 4.5em;
}

h2 {
	color: white;
	font-size: 2em;
}

h3 {
	color: white;
	font-size: 1.75em;
}

h4 {
	color: white;
	font-size: 1.5em;
}

h5 {
	color: white;
	font-size: 1.25em;
}

h6 {
	color: white;
	font-size: 1em;
}

p {
	color: white;
	font-size: 0.8em;
}

span {
	color: white;
	font-size: 0.5em;
}

a:link {
	color: white;
}

a:active {
	color: white;
}

a:hover {
	color: white;
}

a:visited {
	color: white;
}

button {
	border-radius: 15%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(100%);
	color: white;
	font-size: 1.5em;
	background-color: rgb(76, 220, 115);
}

button:hover {
	background-color: rgb(51, 147, 76);
}

button:active {
	background-color: rgb(25, 73, 38);
}

button:disabled {
	color: gray;
}

button:disabled:hover {
	background-color: rgb(76, 220, 115);
}

button:disabled:active {
	background-color: rgb(76, 220, 115);
}

img {
	color: white;
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(100%);
}

img.colorful {
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);
	-webkit-filter: grayscale(0%);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex * {
	margin: 6px;
}

.vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fixed {
	position: fixed;
}

.top {
	z-index: 1000;
}

.middle {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.hide {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

#title * {
	margin: 10px;
}

#contorl {
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
}

#contorl button {
	margin-left: 30px;
	margin-right: 30px;
}

#tags {
	margin-left: 10px;
	margin-right: 10px;
}

#tags tag {
	background-color: whitesmoke;
	color: gray;
	font-size: 0.7em;
	border-radius: 0.75rem;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.loader-container {
	text-align: center;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
}

.loader {
	position: relative;
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	margin: 20px auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
