body {
    background-color: DeepSkyBlue;
}

h1 {
    color: white;
    font-size: 2.5em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h2 {
    color: white;
    font-size: 2.0em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h3 {
    color: white;
    font-size: 1.75em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h4 {
    color: white;
    font-size: 1.5em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h5 {
    color: white;
    font-size: 1.25em;
    font-family: 宋体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h6 {
    color: white;
    font-size: 1.0em;
    font-family: 宋体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

p {
    color: white;
    font-size: 0.8em;
    font-family: 楷体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

content {
    float: left;
}
content a {
    display: block;
    color: white
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: DodgerBlue;
}
content a:hover {
    background-color: Aqua;
}.now {
    background-color: DeepSkyBlue;
}

banner {
    list-style-type: none;
    margin: 0;
    padding: 50px 2000px
    overflow: hidden;
    background-color: cyan;
}
