.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: dodgerblue;
    font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 2.5em;
    font-family: 黑体;
}

h2 {
    color: white;
    font-size: 2.0em;
    font-family: 黑体;
}

h3 {
    color: white;
    font-size: 1.75em;
    font-family: 黑体;
}

h4 {
    color: white;
    font-size: 1.5em;
    font-family: 黑体;
}

h5 {
    color: white;
    font-size: 1.25em;
    font-family: 宋体;
}

h6 {
    color: white;
    font-size: 1.0em;
    font-family: 宋体;
}

p {
    color: white;
    font-size: 0.8em;
    font-family: 楷体;
}

ol {
    color: gray;
    font-size: 1.0em;
    font-family: 宋体;
}

li {
    color: gray;
    font-size: 0.8em;
    font-family: 楷体;
}

a {
    color: aliceblue;
    font-family: 仿宋;
    text-decoration: none;
}

a.show {
    text-decoration: underline;
    font-family: 楷体;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

content {
    float: left;
}

content a {
    display: block;
    color: DodgerBlue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: cyan;
}

content a:hover {
    background-color: aliceblue;
}

banner {
    top: 0;
    left: 0;
    display: flex;
    position: fixed !important;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
}

banner a {
    font-family: '仿宋';
    padding: 15px;
    background-color: deepskyblue;
    border-radius: 50%;
}

banner a:hover {
    background-color: blue;
}

banner a.now {
    background-color: deepskyblue;
    color: blueviolet;
}

footer {
    text-align: center;
    height: 46px;
    backdrop-filter: blur(10px);
    background: rgb(0 0 0 / 25%);
}

.power {
    line-height: 46px;
    color: #eeeeee;
    animation: fade;
    -webkit-animation: fade 0.75s;
    -moz-animation: fade 0.75s;
    -o-animation: fade 0.75s;
    -ms-animation: fade 0.75s;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card {
    margin: 0 auto;
    height: 400px;
    width: 270px;
    margin: 30px;
    box-shadow: 5px 5px 20px rgba(240, 248, 255, 0.5);
    border-radius: 15px;
    background: aliceblue;
}

.card .content {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.card .content h2 {
    font-family: Harmony OS Sans;
    margin: 0 auto;
    position: absolute;
    top: -60px;
    right: 1px;
    font-size: 10em;
    color: MidnightBlue;
    pointer-events: none;
}

.card .content h3 {
    font-family: Harmony OS Sans;
    margin: 0 auto;
    font-size: 1.8em;
    color: MidnightBlue;
    z-index: 1;
}

.card .content p {
    font-family: Harmony OS Sans;
    font-size: 1em;
    color: MidnightBlue;
    font-weight: 300;
}

.card .content .title {
    font-family: 黑体;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: lightskyblue;
    color: blue;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(135, 206, 250, 0.4);
}