body {
    background-color: DeepSkyBlue;
}

h1 {
    color: white;
    font-size: 2.5em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h2 {
    color: white;
    font-size: 2.0em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h3 {
    color: white;
    font-size: 1.75em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h4 {
    color: white;
    font-size: 1.5em;
    font-family: 黑体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h5 {
    color: white;
    font-size: 1.25em;
    font-family: 宋体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

h6 {
    color: white;
    font-size: 1.0em;
    font-family: 宋体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

p {
    color: white;
    font-size: 0.8em;
    font-family: 楷体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

ol {
    color: gray;
    font-size: 1.0em;
    font-family: 宋体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

li {
    color: gray;
    font-size: 0.8em;
    font-family: 楷体,Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

content {
    float: left;
}
content a {
    display: block;
    color: DodgerBlue
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: cyan;
}
content a:hover {
    background-color: DodgerBlue;
}.now {
    background-color: DeepSkyBlue;
}

banner {
    list-style-type: none;
    margin: 0;
    padding: 50px 700px 50px 700px;
    overflow: hidden;
    background-color: cyan;
}

footer {
    text-align: center;
    height: 46px;
    backdrop-filter: blur(10px);
    background: rgb(0 0 0 / 25%);
}
.power {
    line-height: 46px;
    color: #eeeeee;
    animation: fade;
    -webkit-animation: fade 0.75s;
    -moz-animation: fade 0.75s;
    -o-animation: fade 0.75s;
    -ms-animation: fade 0.75s;
}

.card {
     margin: 0 auto;
     height: 400px;
     width: 270px;
     margin: 30px;
     box-shadow: 5px 5px 20px rgba(255, 0, 0, 0.5);
     border-radius: 15px;
     background: rgba(255, 0, 0, 0.747);
     border-top: 1px solid rgba(255, 81, 81, 0.5);
     border-left: 1px solid rgba(255, 81, 81, 0.5);
}
.card .content {
     margin: 0 auto;
     padding: 20px;
     text-align: center;
     transition: 0.5s;
}

.card .content h2 {
     font-family: Harmony OS Sans;
     margin: 0 auto;
     position: absolute;
     top: -60px;
     right: 1px;
     font-size: 10em;
     color: rgb(255, 255, 255);
     pointer-events: none;
}
.card .content h3 {
     font-family: Harmony OS Sans;
     margin: 0 auto;
     font-size: 1.8em;
     color: rgb(255, 255, 255);
     z-index: 1;
}
.card .content p {
     font-family: Harmony OS Sans;
     font-size: 1em;
     color: rgb(255, 255, 255);
     font-weight: 300;
}
